{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
  <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["moved"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["timestamp"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
