{% extends "layout.html" %}

{% block title %}
    shotchart
{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename='chart_styles.css') }}" rel="stylesheet"/>
{% endblock %}

{% block main %}
    <!--Display Shot Chart without escaping HTML-->
    <div id = "chart">
        {{ chart|safe }}
    </div>
    
    <!--Display Relevant text -->
    <div id = "top">
        2013-15 Shot Chart for {{ player }}
    </div>
    <div id = "togglebar">
        Interactive Togglebar (Move Cursor Left)
        <ul>
            <li>Magnifying Glass: Zoom in on a subsection of the court</li>
            <li>Arrow: Navigate the Court</li>
            <li>Home: Retrun the plot to original format</li>
        </ul>
    </div>
    
    <!--Display Player stats -->
    <div id = "stats">
        Shooting Stats for {{ player }}
         <ul>
            <li>Field Goal Percentage: {{ stats["totalFGP"] }}</li>
            <li>2-Point Field Goal Percentage: {{ stats["twoFGP"] }}</li>
            <li>3-Point Field Goal Percentage: {{ stats["threeFGP"] }}</li>
            <li>2-Point Field Goal Frequency: {{ stats["twoFreq"] }}</li>
            <li>3-Point Field Goal Frequency: {{ stats["threeFreq"] }}</li>
            <li>Field Goal Percentage for Shots in Paint: {{ stats["paintFGP"] }}</li>
            <li>Frequency of Shots in Paint: {{ stats["paintFreq"] }}</li>
            <li>Field Goal Percentage for Midrange Jump Shots: {{ stats["midrangeFGP"] }}</li>
            <li>Frequency of Midrange Jump Shots: {{ stats["midrangeFreq"] }}</li>
        </ul>
    </div>
    
     <!-- Glossary -->
    <div id = "info">
        Useful Terms
        <ul>
            <li>Paint: The rectangular area surrounding the basket</li>
            <li>Midrange Jumper: A 2-point shot taken outside of the paint</li>
        </ul>
    </div>
    
    <!-- Create Button to go to player's assist chart -->
    <form action="{{ url_for('assistchart') }}" method="get">
        <fieldset>
            <div id = "btn1">
                <div class="form-group">
                    <button class="btn btn-danger" type="submit">Assist Chart</button>
                </div>
            </div>
        </fieldset>
    </form>
    
     <!-- Create Button to go to player's Rebound chart -->
    <form action="{{ url_for('reboundchart') }}" method="get">
        <fieldset>
            <div id = "btn2">
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Rebound Chart</button>
                </div>
            </div>
        </fieldset>
    </form>
    
     <!-- Create Button to go to go to player select -->
    <form action="{{ url_for('playerselect') }}" method="get">
        <fieldset>
            <div id = "btn3">
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Change Player</button>
                </div>
            </div>
        </fieldset>
    </form>
    
    <!-- Create Button to go to go to controlpanel -->
    <form action="{{ url_for('controlpanel') }}" method="get">
        <fieldset>
            <div id = "btn4">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Control Panel</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}